/* Reset estandarizado */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  padding-top: 56px;
  background-image: url('https://st2.depositphotos.com/1792782/7302/v/950/depositphotos_73020137-stock-illustration-seamless-pattern-barber-shop.jpg');
}

.navbar.fixed-top {
  transition: background-color 0.3s ease-in-out;
}

.navbar.fixed-top.scrolled {
  background-color: #343a40;
}

header {
  background-color: #343a40;
  color: white;
  text-align: center;
  padding: 40px;
}

.container {
  background-color: white;
  padding: 20px;
  border-radius: 10px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.producto {
  border: 1px solid #ced4da;
  border-radius: 10px;
  padding: 15px;
  margin: 10px;
  background-color: #ffffff;
  box-shadow: 0 0 5px rgba(0, 0, 0, 0.1);
  width: 100%;
  display: flex;
  flex-direction: column; /* Alinear elementos internos en columna */
  justify-content: space-between; /* Espaciado uniforme entre los elementos internos */
}

#catalogo {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(200px, 1fr));
  grid-gap: 15px;
}

.producto .btn-agregar {
  width: 100%;
  background-color: #007bff;
  color: white;
  border: none;
  cursor: pointer;
}

.producto .btn-agregar:hover {
  background-color: #0056b3;
}

#carrito-container {
  border: 1px solid #ced4da;
  border-radius: 10px;
  padding: 20px;
  margin-top: 20px;
  max-width: 300px;
  background-color: #ffffff;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

#carrito-list {
  list-style: none;
  padding: 0;
  max-height: 300px;
  overflow-y: auto;
}

#finalizar-compra {
  background-color: #dc3545;
  color: white;
  padding: 10px;
  border: none;
  cursor: pointer;
}

.btn-danger {
  background-color: #dc3545;
  color: white;
  border: none;
}

.btn-danger:hover {
  background-color: #bb2d3b;
  color: white;
}
